.expander {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 1s;
}

.element-body {
    min-height: 0;
    /* max-height: 100px; */
    transition: visibility 1s;
    font-family: "Roboto";
    font-size: 15px;
    visibility: hidden;
}

.expander.expanded {
    grid-template-rows: 1fr;
}

.expander.expanded .element-body{
    visibility: visible;
}

.element-header {
    height: 2em;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-family: "Roboto";
    font-size: 17px;
    font-weight: 500;
    margin: 10px;
    background: radial-gradient(circle, rgb(250, 250, 250) 40%, rgba(250, 250, 250, 0) 100%);
}

.element {
    border-bottom: 1.5px solid lightgray;
    padding: 7px;
}

.header-text {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container {
    padding: 0;
    width: 40vw;
}

* {
    box-sizing: border-box;
}

.header-button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 17px;
    font-family: 'Courier New', monospace;
    font-weight: 1000;
    transition: 0.3s;
    cursor: pointer;
}

.header-button:hover {
    transform: scale(1.3) rotate(5deg);
    background-color: rgba(0, 0, 0, 0.05);

}

.container .element:last-child {
    border-bottom: none;
}