.element-body {
    max-height: 100px;
    transition: all 0.4s ease-in-out;
    padding: 5px;
    font-family: "Roboto";
    margin: 0;
    outline: 2px solid black;
}

.hidden {
    max-height: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 5px;
}

.element-header {
    display: flex;
    justify-content: space-between;
    width: 40vh;
    outline: 2px solid black;
    padding: 5px;
    font-family: "Roboto";
    margin: 0;
}

.header-text {
    display: inline-block;
}

.container {
    border: 5px solid black;
    padding: 0;
}

* {
    box-sizing: border-box;
}
